{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'device_verify/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'device_verify/css/bootstrap.min.css' %}">
    
    <title>Device Verify</title>
</head>

<body>
    {% include 'device_verify/navbar.html' %}
    
    {% block content %} {% endblock %}

    <script src="{% static 'device_verify/js/jquery.min.js' %}"></script>
    <script src="{% static 'device_verify/js/popper.min.js' %}"></script>
    <script src="{% static 'device_verify/js/bootstrap.min.js' %}"></script>


</body>

</html>