<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-steel">
    <a class="navbar-brand" href="/">Device Verification</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item {{ home_page }}">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item {{ offline_page }}">
                    <a class="nav-link" href="/offline">Offline</a>
            </li>
        </ul>
    </div>
</nav>